[default]

# Url of the auctioneer data file
url = https://file.file

# Whether downloaded files should be kept after use. If false, deletes the downloads.
# Default: true
keep_downloads = true

# Behaviour when inserting item_ids that are already in the table
# Possible values are:
#  upsert: if an item_id is already in the table, just updates the min_bid_price
#  ignore: if an item_id is already in the table, does nothing
# Default: upsert
insert_duplicate_behaviour = upsert

# DB connection settings
mysql_host = 127.0.0.1
mysql_port = 3306
mysql_user = acore
mysql_password = acore
# Database where the mod_ahbot table is located. Default: acore_world
mysql_database = acore_world

# For testing. Skip download and just use the latest file. Default: false
skip_download = false
